<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>ArchLog</title>

    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
      rel="stylesheet"
    />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="assets/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <!-- Font Awesome JS -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
      integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
      integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header text-center">
          <h3>Gestion de systeme luminosité</h3>
        </div>

        <ul class="list-unstyled components">
          <p class="text-center">Bonjour ADMIN</p>
          <li class="">
            <a
              href="#info"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
            >
              Info
            </a>
            <ul class="collapse list-unstyled" id="info">
              <li>
                <a href="/index">Index</a>
              </li>
              <li>
                <a href="/students/subscribed">Log</a>
              </li>
            </ul>
          </li>
          <li>
            <a
              href="#commands"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
              >Commands</a
            >
            <ul class="collapse list-unstyled" id="commands">
              <li>
                <a href="">State</a>
              </li>
              <li>
                <a href="">Mode</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-unstyled CTAs">
          <li>
            <a href="/" class="btn btn-default btn-block">Logout</a>
          </li>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span>Menu des taches</span>
            </button>
            <button
              class="btn btn-dark d-inline-block d-lg-none ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active mr-5">
                  <a class="nav-link" href="">Index</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
          <div class="row">
            <h1 class="offset-5">Details</h1>
          </div>
          <!--TOAST-->
          <hr class="my-2" />

          <div class="row mt-5">
            <div class="container col-12">
              <canvas id="myChart" class="col-12"></canvas>
            </div>
          </div>
        </div>
        <div
          class="toast"
          id="myToast"
          style="position: absolute; top: 0; right: 0;"
        >
          <div class="toast-header">
            <strong class="mr-auto"
              ><i class="fa fa-grav"></i> Response state!</strong
            >
            <small>à l'instant</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            <div id="message">
              empty
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#sidebarCollapse").on("click", function() {
          $("#sidebar").toggleClass("active");
        });
        $("#myToast").toast({
          delay: 5000
        });
        $("#myToast").toast("show");
      });
      $(function() {
        $("#cmode").bootstrapToggle();
      });
      $(document).ready(function() {
        t = $("#mode").attr("value");
        if (t === "Automatique") {
          $("#cmode").bootstrapToggle("on");
        } else {
          $("#cmode").bootstrapToggle("off");
        }
      });
      $(function() {
        $("#cmode").change(function() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              var obj = JSON.parse(this.responseText);
              $("#message").innerText = obj["message"];
              $("#mode").attr("value", obj["mode"]);
              $("#myToast").toast("show");
            }
          };
          xhttp.open("GET", "http://127.0.0.1:8000/arduino", true);
          xhttp.send();
        });
      });
      $(document).ready(function() {
        var ctx = document.getElementById("myChart").getContext("2d");
        var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: "line",

          // The data for our dataset
          data: {
            labels: [
              "00:00",
              "01:00",
              "02:00",
              "03:00",
              "04:00",
              "05:00",
              "06:00",
              "07:00",
              "08:00",
              "09:00",
              "10:00",
              "11:00",
              "12:00",
              "13:00",
              "14:00",
              "15:00",
              "16:00",
              "17:00",
              "18:00",
              "19:00",
              "20:00",
              "21:00",
              "22:00",
              "23:00"
            ],
            datasets: [
              {
                label: "Statistiques",
                backgroundColor: "rgb(255, 99, 132)",
                borderColor: "rgb(255, 99, 132)",
                data: [
                  0,
                  2,
                  5,
                  2,
                  7,
                  18,
                  31,
                  15,
                  2,
                  1,
                  0,
                  0,
                  1,
                  1,
                  0,
                  0,
                  0,
                  5,
                  8,
                  20,
                  25,
                  19,
                  12,
                  2
                ]
              }
            ]
          },

          // Configuration options go here
          options: {}
        });
      });
    </script>
  </body>
</html>
